@use 'colors';

%button {
  padding: 12px 20px;
  color: colors.$white;
  background-color: colors.$orange;
  box-shadow: 0 1px 10px rgba(0 0 0 / 10%);
  border-radius: 5px;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
